<html>
 <head>
  <title>Slack Shellbot</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
  <script src="/scripts/url.min.js"></script>
  <script src="/scripts/register.js"></script>
  <script src="/scripts/stats.js"></script>
</head>
 <body style="text-align: center">
  <p>
    <img src='img/icon.png' width="120px" height="120px">
  </p>
  <p>
    <h3>Whoa, a bash shell inside Slack!</h3>
    <small>creates a rudimentary file system in every channel</small>
  </p>
  <p id='messages' />
  <p id='register'>
    <a href="https://slack.com/oauth/authorize?scope=bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </p>
  <p id='active_teams_count'>&nbsp;</p>
  <p>
    <img src="img/vi.gif">
  </p>
  <p>
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Whoa, a bash shell inside Slack!" data-via="dblockdotorg">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>
  <p>
    <small>
      made by <a href="https://twitter.com/dblockdotorg" target="_blank">@dblockdotorg</a>, <a href="https://github.com/slack-ruby/slack-shellbot" target="_blank">fork me on github</a>
    </small>
  </p>
 </body>
</html>

